.button {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 890px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.background {
	background-color: white;

}
.button1 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 870px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}
.button2 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 860px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button3 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 870px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button4 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 930px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button5 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 930px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button6 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 930px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button7 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 900px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button8 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 904px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button9 {
	background-color: black; 
    border: 2px solid #ccc;
    color: white;
    padding: 15px 917px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}